%div{'ng-app' => 'word'}
  %div.row{'ng-controller' => 'wordController'}
    %div.span3
    %div.span12
      %div.tile
        %h4= "Learn burmese"
      %div.row.image
        %div.span4
        %div.span7
          %div.image= image_tag "baby.jpg", width: 300, height: 300, class: 'img-rounded img-responsive'
      %div.word-container
        %div
          %div.word
            %div.syllable
              %span= "က"
            %div.syllable
              %span="ေလး"
